<div class="shopify-email-marketing-confirmation__container container">
    <h1>Subscribed</h1>
    <p>Thank you for subscribing to our mailing list. You can unsubscribe at any time.</p>
    <a class="button button--primary" href="{{ unsubscribe_url }}" style="margin-top: 32px;">unsubscribe</a>
</div>