<div class="shopify-email-marketing-confirmation__container">
  <h1>Unsubscribed</h1>
  <p>You’ve unsubscribed from our mailing list.</p>
  <p>You won’t receive any more marketing updates from us. You can subscribe again at any time.</p>
</div>
