<script src="{{ 'legal.js' | asset_url }}" async></script>

<div class="faq-navigation hidden-pocket">
    <scroll-spy class="scroll-spy">
        <ul class="scroll-spy__list list--unstyled">
            <!-- <li class="scroll-spy__item is-visible">
                <a class="scroll-spy__anchor heading heading--small" href="#terms-of-use" data-smooth-scroll="">Terms of
                    Use</a>
            </li>
            <li class="scroll-spy__item">
                <a class="scroll-spy__anchor heading heading--small" href="#conditions-of-sale"
                    data-smooth-scroll="">Terms &amp; Conditions of Sale</a>
            </li>
            <li class="scroll-spy__item">
                <a class="scroll-spy__anchor heading heading--small" href="#privacy-policy"
                    data-smooth-scroll="">Privacy Policy</a>
            </li>
            <li class="scroll-spy__item">
                <a class="scroll-spy__anchor heading heading--small" href="#ca-prop-65" data-smooth-scroll="">California
                    Proposition 65</a>
            </li>
            <li class="scroll-spy__item">
                <a class="scroll-spy__anchor heading heading--small" href="#supply-chain-disclosure"
                    data-smooth-scroll="">Supply Chain Disclosure</a>
            </li>
            <li class="scroll-spy__item">
                <a class="scroll-spy__anchor heading heading--small" href="#intellectual-property"
                    data-smooth-scroll="">Intellectual Property</a>
            </li>
            <li class="scroll-spy__item">
                <a class="scroll-spy__anchor heading heading--small" href="#accessibility"
                    data-smooth-scroll="">Accessibility</a>
            </li> -->
        </ul>
        <svg>
            <path
                d="M 1 0 L 1 36 L 1 36 L 1 88 L 1 88 L 1 124 L 1 124 L 1 176 L 1 176 L 1 228 L 1 228 L 1 280 L 1 280 L 1 316"
                style="stroke-dashoffset: 1; stroke-dasharray: 1, 0, 36, 316; opacity: 1;"></path>
        </svg>
    </scroll-spy>
</div>

✕
{% schema %}
  {
  "name": "Page Links",
  "settings": [],
  "presets": [
    {
      "name": "Page Links"
    }
  ]
}  
{% endschema %}
