.hidden {
  display: none; }

.open {
  display: block !important; }

.bs-modal-open {
  overflow: hidden; }

.bs-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: #00000063;
  padding-top: 100px; }

.bs-modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.bs-modal-content {
  position: relative;
  background-color: #191919;
  color: #fff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  padding: 16px; }
  .bs-modal-content h2.heading {
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 400; }

.bs-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000; }

.bs-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  min-height: 16.42857143px; }
  .bs-modal-header h2.heading {
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .bs-modal-header .btn-close {
    font-size: 20px;
    line-height: 20px; }

.bs-modal-header .close {
  margin-top: -2px; }

.bs-modal-title {
  margin: 0;
  line-height: 1.42857143; }

.bs-modal-body {
  position: relative;
  padding: 5px 15px 15px; }

.bs-modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2; }

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5; }

@media (min-width: 768px) {
  .bs-modal-dialog {
    width: 540px;
    margin: 120px auto; }
  .bs-modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .bs-modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .bs-modal-lg {
    width: 900px; } }

[role="button"] {
  cursor: pointer; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }
