.lens-options {
  &__column {
    border-top: 1px solid #707070;
    padding: 35px 0;

    @media screen and (min-width: 794px) {
      border-top: 0 none;
      padding: 0;
    }

    h3.heading.heading--small {
      @media screen and (min-width: 1000px) {
        font-size: 38px;
      }
    }

    header {
      // margin-bottom: min(24px, var(--vertical-breather));

      .h2,
      .rte h2 {
        font-family: "Helvetica Neue Thin", var(--text-font-family);
        font-size: 28px;
        letter-spacing: 0;
        margin-bottom: 0;

        
        @media screen and (min-width: 400px) {
          font-size: 34px;
        }

        @media screen and (min-width: 1000px) {
          font-size: 38px;
        }
      }

      h3.heading.heading--small {
        font-family: "Helvetica Neue", var(--text-font-family);
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0;
        margin-top: 4px;

        @media screen and (min-width: 1000px) {
          font-size: 20px;
        }
      }
    }
  }

  &__row {
    display: grid;
    align-items: baseline;
    grid-gap: 0rem 2rem;

    @media screen and (min-width: 794px) {
      border-top: 1px solid #707070;
      padding: 45px 0;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }

    @media screen and (min-width: 1000px) {
      grid-gap: 1rem 4rem;
    }
  }

  .multi-column__image-wrapper {
    margin-bottom: 0;

    @media screen and (min-width: 1000px) {
      margin-bottom: 12px;
    }

  }
}
